.nav-bar{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    font-family: 'Open Sans', sans-serif;
}
.search-bar{
    /* flex-grow: 2; */
    /* height: fit-content; */
    flex-direction: column;
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 120px;
    align-self: center;
    padding: 5px;
    margin-bottom: 25px;
    
}
.searchbar{
    border: none;
    height: 30px;
    width: 80%;
    padding: 2px;
    border-bottom-left-radius: 1px;
}

.nav-bar .icons {
   justify-content: flex-end;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:  white;

}
.icons .icons-more {
    display: flex;
    justify-content: flex-end;
    outline: none;
    position: relative;
    padding: 0;
    border: none;
    background-color: none;
    margin: 5px;

}

.nav-button {
    background-color: white;
    border: none;
}
.search-more {
    display: flex;
    justify-content: right;
    border-left: 1px, solid, lightgray;
    align-self: ;
}
.body-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 4px;
}

font-family: 'Open Sans', sans-serif;

.extra {
    display: flex;
    flex-direction: row;
	padding: 10px;
	align-items: center;
	width: 200px;
	margin: 10px;
}

.right-side{ 
    display: flex;
    flex-direction: column;
    /* margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    border: 4px ;
    box-shadow: 1px 1px 5px lightgray; */
}
.Formula{
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    border: 4px ;
    box-shadow: 1px 1px 5px lightgray;

}
.about {
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    border: 4px ;
    box-shadow: 1px 1px 5px lightgray;
}

.extra #text {
    display: flex;
    padding: 10px;
    width: 200px;
    margin: 10px;
    color: rgb(177, 173, 173);

}
.extra #text-dif {

    margin-left: 18px;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 20px;
	background: rgb(232, 240, 254);
}
.arrow {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 120px;

}
.middle {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 70px;
}
.paragraph {
    /* display: flex; */
    padding: 5px;
}

.questions #q-title{
    display: flex;
    flex-grow: 1;
    border-top: 65px;
    border-bottom: 1px solid lightgray;
    padding: 10px;

}

.questions #question {
    display: flex;
    flex-grow: 1;
    border-top: 65px;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 20px;
}